{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <title>{%block title%}{%endblock%}</title>
    
    <meta name="keywords" content="HTML5,CSS3,HTML,Template,Themeton" >
    <meta name="description" content="Cloudy Town - Simple Blog HTML Template">
    <meta name="author" content="Themeton">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.png' %}"/>
    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic%7CPlayball%7CMontserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static  'vendors/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/bootstrap/css/bootstrap-theme.min.css' %}">

    <!-- Fontawesome -->
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}">

    <!-- Swiper -->
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/swiper/css/swiper.min.css' %}">
    <!-- Magnific-popup -->
  
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/welcome.css' %}">
    
    <link rel="stylesheet" href="{% static '//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css' %}">
    <script src="{% static '//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js' %}"></script>

    
</head>
<body>
    {% include 'base/header.html'%}
    <section class="section-content">
		<div class="container">
			<div class="row">
    {%block content%}
    {%endblock%}
    
{%block sidebar%}
{%endblock%}     
            </div>
            
            </div>
        </section>
    
        {% include 'base/footer.html'%}
        {% include 'base/script.html'%}
</body>
</html>
