{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="icon" type="image/x-icon" href="{%static 'hacker.ico'%}">
    <title>{%block title%} {%endblock%}</title>
  
    <link rel="stylesheet" href="{% static 'main.css'%}">
    <style>
      * {
        box-sizing: border-box;
      }
  
      .leftcolumn {   
        float: left;
        width: 75%;
      }
      
      .rightcolumn {
        float: left;
        width: 25%;
        padding-left: 20px;
      }
  
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
      @media screen and (max-width: 800px) {
        .leftcolumn, .rightcolumn {   
          width: 100%;
          padding: 0;
        }
      }
      </style>
  </head>
 
  <body>
    <div id="wrapper">
    {% include 'base/header.html'%}
    <div class="container">
      
        
          {%block content%} {%endblock%}

    </div>
    </div>
    {% include 'base/footer.html'%} 
  </body>
</html>
