{% load static %}
<header id="header">
    <div class="logo" data-bg-image="{% static 'images/bg-header.jpg' %}">
        <h1>
            <a href="/"> Kod bizim işimiz.</a>
        </h1>
        <p> Odaklanmak, 1000 iyi fikre hayır diyebilmektir.</p>
    </div>
    <div class="menu-container">
        <div class="container">
            <div class="row">
                <div  class="col-md-7 ">
                            <nav class="main-nav">
                                <ul class="">
                                    <li class=" current-menu-item menu-item-has-children">
                                        <a href="/">Home</a>
                                    </li>
                                    <li><a href="">Hakkımda</a></li>
                                    <li><a href="contacts.html">İletişim</a></li>
                                </ul>
                                <a href="javascript:;" id="close-menu"> <i class="fa fa-close"></i></a>
                            </nav>
                    </div>
                    <div class=" col-md-5 h-search">
                        <form class="search_form">
                            <input type="text" name="2" placeholder="Search and hit enter...">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                        <div class="head-social">
                            <a class="socials" href="#"><i class="fa fa-github"></i></a>
                            <a class="socials" href="#"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                <!--
                    <div class=" col-md-5 h-search">
                    <form class="search_form">
                        <input type="text" name="2" placeholder="Search and hit enter...">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                    <div class="head-social">
                        <a class="socials" href="#"><i class="fa fa-facebook"></i></a>
                        <a class="socials" href="#"><i class="fa fa-twitter"></i></a>
                        <a class="socials" href="#"><i class="fa fa-pinterest"></i></a>
                        <a class="socials" href="#"><i class="fa fa-instagram"></i></a>
                        <a class="socials" href="#"><i class="fa fa-rss"></i></a>
                    </div>
                </div>
                -->
                
            </div>
        </div>
    </div>
</header>

