{% extends './base/base.html'%}
{% load static %}

{%block title%}
Hakkımda
{%endblock%}

{%block content%}

<article class="content-item">
    <div class="entry-media">

        <div class="post-title">
            <h2><a href=""></a></h2>
            <div class="entry-date">
                <ul>
                    <li><a href=''></a></li>
                    <li></li>
                </ul>
            </div>
        </div>

        <div class="post-content">
            <p>
				{{about.text}}
            </p>
        </div>

        <div class="post-footer"></div>
    </div>
</article>

{%endblock%}