{% extends './base/base.html'%}
{% load static %}



{%block content%}


	{% for post in category.posts.all%}
	<article class="content-item">
		<div class="entry-media">
			<div class="post-title">
				<h2><a href="{% url 'post_detail' post.category.slug post.slug %}">{{post.title}}</a></h2>
				<div class="entry-date">
					<ul>
						<li><a href='#'>{{post.category.title}}</a></li>
						<li>{{post.created_at|timesince}}</li>
					</ul>
				</div>
			</div>
			<div class="post-footer"></div>
		</div>
	</article>
	{%endfor%}

	<div class="post-navigation">
		<ul>
			<li><span>1</span></li>
			<li><a href="javascript:;">2</a></li>
			<li><a href="javascript:;">3</a></li>
			<li><a href="javascript:;"> <i class="fa fa-chevron-right"></i> </a></li>
		</ul>
	</div>


{%endblock%}