{% extends './base/base.html'%}
{% load static %}

{%block title%}
	{{category.title}}
{%endblock%}

{%block content%}

	{% if posts|length > 0 %}
		{% for post in posts%}
		<article>
			<h2><a href="{% url 'post_detail' post.category.slug post.slug %}">{{post.title}}</a></h2>
			[ <a href='#'>{{post.category.title}}</a> ]
			<time>{{post.created_at|timesince}}</time>	
		</article>
		{%endfor%}
	{% else %}
		<p>Herhangi bir içerik bulunamadi...</p>
	{% endif %}
	

	{% for contact in posts %}
  {{contact.full_name|upper }}
{% endfor %}

<div class="pagination">
  <span class="step-links">
  {% if posts.has_previous %}
  <a class="page-item" href="?page=1">&laquo;</a>
  <a class="page-item" href="?page={{ posts.previous_page_number }}">previous</a>
  {% endif %}

  <span class="page-item">
    {{ posts.number }} of {{ posts.paginator.num_pages }}.
  </span>

  {% if posts.has_next %}
  <a href="?page={{ posts.next_page_number }}">next</a>
  <a class="page-item" href="?page={{ posts.paginator.num_pages }}"> &raquo; </a>
  {% endif %}
</span>
</div>
	


{%endblock%}