{% extends './base/base.html'%}
{% load static %}

{%block title%}

    {{post.title}}

{%endblock%}


{%block content%}

<article class="content-item">
    <div class="entry-media">
        <div class="post-title">
            <h2><a href="">{{post.title}}</a></h2>
            <div class="entry-date">
                <ul>
                    <li><a href='{% url "category_detail" post.category.slug %}'>{{post.category}}</a></li>
                    <li>{{post.created_at|timesince}}</li>
                </ul>
            </div>
        </div>

        <div class="post-content">
<!--

            
            <div class="container gallery">
                <div class="row">
                    <div class="col-xs-6 photos ">
                        <a class="photos"><img src="{% static 'images/footer/photos1.jpg' %}" alt="not image"></a>
                    </div>
                    <div class="col-xs-6 photos ">
                        <a class="photos"><img src="{% static 'images/footer/photos2.jpg' %}" alt="not image"></a>
                    </div>
                    <div class="col-xs-6 photos ">
                        <a class="photos"><img src="{% static 'images/footer/photos3.jpg' %}" alt="not image"></a>
                    </div>
                </div>
            </div>
-->
            <p>
                {{post.text|safe}}
            </p>
        </div>

        <div class="post-footer"></div>
    </div>
</article>

{%endblock%}