{% extends './base/base.html'%} {% load static %} {%block title%} {{post.title}}
{%endblock%} {%block content%}

<article class="content-item">
  <div class="post-title">
    <h2><a href="">{{post.title}}</a></h2>
    <div class="entry-date">
      <time>{{post.created_at|timesince}}</time> 
      <a class="badge" href='{% url "category_detail" post.category.slug %}'>{{post.category}}</a>
    </div>
  </div>

  <div class="post-content">
    {% if post.text != None%}
    <p>{{post.text|safe}}</p>
    {% else %}
    <p>Herhangi bir içerik eklenmemiş..</p>
    {%endif%}

  </div>

  <a href="{{request.META.HTTP_REFERER}}">&laquo; Go back</a>
</article>

{%endblock%}
