{% extends './base/base.html'%}
{% load static %}
{%block title%}
Anasayfa
{%endblock%}

{%block content%}
<div class="col-sm-8 col-md-8">

	{% for post in posts%}
	<article class="content-item">
		<div class="entry-media">
			
			<div class="post-title">
				<h2><a href="{% url 'post_detail' post.category.slug post.slug%}">{{post.title}}</a></h2>
				<div class="entry-date">
					<ul>
						<li><a href='{% url "category_detail" post.category.slug %}'>{{post.category.title}}</a></li>
						<li>{{post.created_at|timesince}}</li>

					</ul>
				</div>
			</div>

			<div class="post-content">
				<p>
					{{post.text|truncatewords:20|safe}}
				</p>
			</div>

			<div class="post-footer"></div>
		</div>
	</article>
	{%endfor%}
	
	{% for contact in posts %}
		{# Each "contact" is a Contact model object. #}
		{{ contact.full_name|upper }}
	{% endfor %}

	<div class="post-navigation">
			<ul>
				{% if posts.has_previous %}
					<li> <a href="?page=1">&laquo;</a></li>
					<li><a href="?page={{ posts.previous_page_number }}"><i class="fa fa-chevron-left"></i></a></li>
				{% endif %}

			<li>
				<span class="current">
					 {{ posts.number }} of {{ posts.paginator.num_pages }}.
				</span>
			</li>

			{% if posts.has_next %}
				<li>
					<a href="?page={{ posts.next_page_number }}"><i class="fa fa-chevron-right"></i></a>
				</li>
				
				<li><a href="?page={{ posts.paginator.num_pages }}"> &raquo;</a></li>
			{% endif %}
			</ul>
	</div>
</div>
<div class="col-sm-4 sidebar">
	<div class="widget">
		<div class="widget-content">
			<div class="h-search col-xs-3">
				<form class="search_form" method="get" action="{% url 'search'%}">
					<input class="form-control" type="text" name="query" placeholder="Aramak istediğiniz ifadeyi yazıp enter e basın..">
					<button type="submit"><i class="fa fa-search"></i></button>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="col-sm-4 sidebar">
	<div class="widget">
		<div class="widget-content">
			<ul>
				{% for category in categories%}

				
				<li>
					<a href="{% url 'category_detail' category.slug%}">{{category}}</a>
				</li>

				{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% include 'codesearch.html'%}

{%endblock%}
