{% extends './base/base.html'%} {% load static %} 

{%block title%} 
  Anasayfa
{%endblock%} 

{%block content%}

<div class="row">
  <div class="leftcolumn">
    <section id="main-content">
      <ul>
        {% for post in posts%}
        <div>
          <li>
            <h2>
              [ <a href="{% url 'post_detail' post.category.slug post.slug%}">{{post.title}}</a> ] 
            </h2>

            <time>{{post.created_at|timesince}}</time>
            {% if post.text != None%}
            <div>
              <p>{{post.text|truncatewords:20|safe}}</p>
            </div>
            {% else %}
            <p></p>
            {%endif%}
          </li>
        </div>
        {%endfor%}
      </ul>
    </section>
  </div>
  <div class="rightcolumn">
    <div class="col-sm-4 sidebar">
      <div class="widget">
        <div class="widget-content">
          <form class="" method="get" action="{% url 'search'%}">
            <input
              class="form-control"
              type="text"
              name="query"
              placeholder="Aramak istediğiniz ifadeyi yazıp enter e basın.."
            />
          </form>
        </div>
      </div>
    </div>

    <div class="col-sm-4 sidebar">
      <div class="widget">
        <div class="widget-content">
          <ul>
            {% for category in categories%}

            <li>
              <a href="{% url 'category_detail' category.slug%}"
                >{{category}}</a
              >
            </li>

            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% for contact in posts %}
  {{contact.full_name|upper }}
{% endfor %}

<div class="pagination">
  <span class="step-links">
  {% if posts.has_previous %}
  <a class="page-item" href="?page=1">&laquo;</a>
  <a class="page-item" href="?page={{ posts.previous_page_number }}">previous</a>
  {% endif %}

  <span class="page-item">
    {{ posts.number }} of {{ posts.paginator.num_pages }}.
  </span>

  {% if posts.has_next %}
  <a href="?page={{ posts.next_page_number }}">next</a>
  <a class="page-item" href="?page={{ posts.paginator.num_pages }}"> &raquo; </a>
  {% endif %}
</span>
</div>

{%endblock%}
